@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}


.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}


.img-upload-con, .img-detail-con {
    display: inline-block;
}

.img-detail-con{width:135px;height:135px;border:1px solid #ddd;}
.img-detail-con img{vertical-align:bottom;}

.order-table .status, .order-table .operate {
    line-height: 22px;
    text-align: center;
}

.order-table .operate .btn{
    margin:3px 0;
}

.order-table .order-cancel {
    color: #333;
}

.text-somber {
    color: #333;
}
.order-state{
    text-align:center;
    border-right:1px solid #ddd;
    min-height:208px;
}
.state-top{
    line-height:22px;
    margin-bottom:20px;
}
.state-txt span {
    font-size: 24px;
    font-weight: 700;
}
.state-btn{
    margin-top:20px;
    margin-bottom:30px;
}

.order-info-item{
    line-height:24px;
}

.goods-total{
    text-align:right;
}
.goods-total .count {
    font-family:Verdana;
    font-size: 18px;
    font-weight: 700;
}

.cart-content{
    position:relative;
}

.cart-content #chkAll {
    vertical-align:text-bottom;
}

.cart-tbody {
    font-family: "Microsoft YaHei",SimSun,verdana;
}

.cart-tbody .cart-goods-num {
    width: 45px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.cart-tbody .c-quantity{
    width:90px;
}


.cart-tbody .c-name {
    float: left;
    width: 200px;
    color: #333;
    overflow: hidden;
}
.cart-tbody .c-name a{
    color: #333;
}
.cart-tbody .c-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
    font-family: verdana;
}
.cart-tbody .c-sum strong {
    color: #333;
    font-weight: 700;
    display: block;
}

.cart-tbody .c-props{
    float:left;
    color:#666;
}


.cart-toolbar {
    height: 50px;
    border: 1px solid #f0f0f0;
    background: #fff;
    position: relative;
}

.fixed-bottom {
    position: fixed;
    background: #fff;
    bottom: 0;
    right: 0px;
    z-index: 999;
    width: calc(100% - 260px);
    border-width: 1px 0;
    border-top: 1px solid #f0f0f0 \9;
    box-shadow: 0 -1px 8px rgba(0,1,1,.08);
}

.toolbar-wrap{
    float:right;
    width:500px;
}

.toolbar-wrap .btn-area {
    float: right;
    margin-right:30px;
    margin-top:5px;
}
.toolbar-wrap .price-sum {
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 20px 0 10px;
    color: #666;
    width: auto;
    position: relative;
}

.toolbar-wrap .price-sum .price {
    display: inline-block;
    text-align: right;
    font-family: verdana;
}

.toolbar-wrap .price-sum .price em {
    color: #e4393c;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
}

.toolbar-wrap .amount-sum {
    float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 8px 0 0;
}
.toolbar-wrap .amount-sum em {
    color: #e4393c;
    font-family: verdana;
    font-weight: 700;
    font-style: normal;
    margin: 0 3px;
}
.cart-empty{
   text-align:center;
}

@media (max-width: 991px) {
    .cart-toolbar{width:100%;}
}

.order-con .s-price {
    font-family: Verdana;
    font-weight:700;
    color: #FF4A55;
}
.order-con-btns {
    text-align: right;
}
.order-con-btns .order-submit {
    font-weight:700;
}