@model IEnumerable<ShoppingCartViewModel>
@{
    ViewData["Title"] = "我的购物车";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cart-content">
    @Html.Partial("_Cart", Model)
</div>

@section Scripts{
    <script>
        $(function () {

            $(".cart-content").on("click", ".plus", function () {
                var $num = $(this).prev(".cart-goods-num");
                var num = parseInt($num.val());
                $num.val(num + 1);
                var id = $(this).data("id");
                $.get("/shoppingcart/quantity", {id:id,type:'plus'}, function (data) {
                    $(".cart-content").html(data);
                });
            });

            $(".cart-content").on("click", ".minus", function () {
                var $num = $(this).next(".cart-goods-num");
                var num = parseInt($num.val());
                if (num === 1) {
                    return false;
                }
                $num.val(num - 1);
                var id = $(this).data("id");
                $.get("/shoppingcart/quantity", { id: id, type: 'minus' }, function (data) {
                    $(".cart-content").html(data);
                });
            });

            $(".cart-content").on('input propertychange', '.cart-goods-num', function () {
                var $that = $(this);
                var val = $that.val();
                if (isNaN(val)) {
                    $that.val(1);
                    val = 1;
                }
                var id = $that.data("id");
                $.get("/shoppingcart/quantity", { id: id, type: '', num: val }, function (data) {
                    $(".cart-content").html(data);
                });
            });


            $(".cart-content").on("click", ".cart-remove", function () {
                var elementId = this.id;
                var id = elementId.substring(elementId.indexOf('_') + 1);

                swal({
                    title: '删除商品？',
                    text: '可在“商品选购”中继续加入该商品',
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                }).then(function () {
                    $.post("/shoppingcart/remove", { id: id }, function (data) {
                        if (data.code === 100) {
                            $(".product_" + id).remove();
                        }
                    });
                }).catch(function () {

                })
            });
        })
    </script>
}
